@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2 {
  text-align: center;
  color: cornflowerblue;
  font-size: 25px;
  transition: 0.6s;
  cursor: pointer;
}
h2:hover {
  color:darkcyan;
  font-size: 36px;
}
button {
  width: 100px;
  /* margin-left: 650px; */
}
.nate {
margin-left: 650px;
}
.btn {
  width: 10%;
  height: 40px;
  margin-left: 5px;
  background-color: #A1A7C8;
  border-radius: 50px;
  transition: 1.1s;
}
.btn:hover {
  width: 13%;
  height: 50px;
  background-color: darkslategrey;
}
table {
  border: 2px solid rgb(104, 100, 100);
}
table, th, tr, td {
  /* border: 1px solid black; */
  margin: 2px;
  border-radius: 3px;
}
tr {
  min-width: 20%;
}
thead {
  background-image: linear-gradient(to right, rgba(34, 34, 34, 0.336), rgba(43, 209, 173, 0.219));
}
tbody {
  background-image: linear-gradient(to right, rgba(34, 34, 34, 0.068), rgba(43, 209, 173, 0.075));
}
.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
      background-image: url(../src/assets/img/centerWhite.jpg);
  background-size: cover;
  background-position: center;
}
.blogy {
  width: 96%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom:20px ;
  box-shadow: 0 20px 20px rgb(0 , 0, 0, 0.9);
  background: linear-gradient(rgba(255, 255, 255, 0.658), rgba(34, 34, 34, 0.075));
  
  gap: 10px;
}
.blog-list { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.blog-list .preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97%;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(97, 93, 93, 0.3);
  background-image: linear-gradient(#6b9fed15, #24f9f918);
  backdrop-filter: blur(5px);
  transition: 0.7s;
}
.blog-list .preview:hover {
   width: 99.5%;
  border-radius: 17px;
  box-shadow: 0 20px 20px rgba(97, 93, 93, 0.9);

}
.blog .preview h3 {
  color: rgb(2, 32, 32);
  font-size: 25px;
  font-weight: 700;
}
.blog .preview p {
  color: rgb(17, 47, 61);
  font-size: 16px;
  font-weight: 700;
}
.blog .preview button {
  background-color: darkcyan;
  margin-top: 10px;
  border-radius: 50px;
  
}
a {
  text-decoration: none;
}
/* header styling */
.header {
  height: 24%;
  background-image: linear-gradient(#6B9FED, #24F9f9);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.middle {
  display: flex;
  width: 50%;
  justify-content: space-around;
  gap: 5px;
}
.middle > div {
  width: 20%;
  padding: 0.4rem;
  border-radius:8px 0  8px 0 ;
  text-align: center;
  transition: 1.1s;
}
.middle > div:hover {
  background-color: #A1A7C8;
}
.middle > div a {
  font-size: 16px;
  font-weight: 700;
  color: #222;
}
.buttons {
  display: flex;
  width: 20%;
  height: 100%;
}
.buttons .in, .buttons .up {
    width: 100%;
    border-radius: 50px;
    margin: 10px;
    padding: 0.7rem;
    background: linear-gradient( #A1A7C8, #6B9FED );
    border: none;
    box-shadow: 0 20px 20px rgba(97, 93, 93, 0.9);
    color: #222;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    transition: 0.13s;
}
.buttons .in:hover, .buttons .up:hover {
     padding: 0.5rem;
    border-radius: 55px;
    box-shadow: 0 20px 20px rgba(97, 93, 93, 0.2);
}
/* footer styling starts here */
.footer {
  background-color: #6B9FED;
  height: 55vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.foot {
  display: flex;
  gap: 5px;
  width: 90%;
}
.newsletter {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.logo {
  width: 16%;
  display: flex;
  flex-direction: column;
}
.readers {
  width: 10%;
  display: flex;
  flex-direction: column;
}
.kitu {
  width: 16%;
  display: flex;
  flex-direction: column;
}
.help {
  width: 16%;
  display: flex;
  flex-direction: column;
}
.addy {
  width: 16%;
  display: flex;
  flex-direction: column;
}
.bottom {
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid grey;
}
.bottom .one p {
  color: rgba(2, 12, 29, 0.562);
  font-weight: 700;
}
.socials  {
  display: flex;
  gap: 30px;
}
.socials a {
  color: #031838;
  font-size: 17px;
}
.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}
.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: red;
  transform: translate(-4%, 40%);

}
.curve::after {
    content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: white;
  transform: translate(-4%, 40%);
  z-index: -1;
  
}
/* .top {
 display: flex;
 width: 100%;
 overflow: hidden;
}
.text-top {
  width: 60%;
  background-color: yellow;
}
.top-right {
  width: 5%;
  padding: 1rem;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */




